
.section-detail-product{
    padding-top: 5rem;
}

.image-detail-product{
    width: 450px;
    height: 450px;
}

.layout-detail-product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6rem 2rem 3rem 2rem;
}

.description{
    padding: 4rem 2rem 6rem 2rem;
}

.section-detail-left{
    padding: 2rem 0;
}

.fix-col-detail{
    margin: 0 auto;
}

.group-witdh{
    width: 400px;
}

.group-witdh hr{
    background-color: #b3b3b3;
    height: .8px !important;
}

.detail-product-title{
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.detail-product-price{
    font-size: 1.2rem;
    color: rgb(214, 5, 5);
}

.detail-product-size{
    font-weight: 300;
}

.list-size{
    padding-top: 1rem;
}

.list-size a{
    padding: .1rem .9rem;
    border: 1px solid #ffba4b;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.list-size a:last-child{
    margin-left: .8rem;
}

.active-size{
    background-color: #ffba4b !important;
    color: #fff !important;
    font-weight: 600 !important;
    border: none !important;
}

.mr-cart{
    margin-top: 1.8rem;
    text-align: center;
    width: 100%;
    background-color: #ffba4b;
    padding: 14px 35px;
    cursor: pointer;
}

.mr-cart:hover{
    background-color: #fdaf31;
    transition: .5s all ease-in-out;
}

.mr-cart:hover .btn-add-cart{
    color: #fff !important;
    transition: .5s all ease-in-out;
}

.h2-description{
    font-size: 2rem;
    /* font-family: 'Lobster', cursive; */
    text-transform: uppercase;
}

.modal-success{
	position: fixed !important;
    top: 42%;
	left: 37%;
	z-index: 9999999;
	background-color: hsla(0, 0%, 37%, 0.9);
	width: 25rem;
}

.fix_icon_bell{
	background-color: #00BFA5 !important;
	padding: 1rem 1rem;
	border-radius: 50%;
    font-size:36px; color: #fff;
}

.text-datmon{
    text-align: center;
    padding: 1rem;
    color: #fff;
}

@media only screen and (max-width: 600px) {

    .image-detail-product{
        width: 80%;
        height: 100%;
    }

    .layout-detail-product{
        grid-template-columns: 1fr;
        padding: 3rem 0 0 0;
    }

    .fix-col-detail{
        display: flex;
        justify-content: center;
    }

    .group-witdh{
        width: 100%;
    }

    .fix-col-description{
        padding: 1rem 2rem;
    }

    .description{
        padding: 2rem 2rem;
    }

    .modal-success{
        left: 10%;
        width: 80%;
    }

}