

<div class="section-detail-product">
    <div class="banner-detail"></div>
    <div *ngIf="success">
        <div class="modal-success">
            <div class="pt-4 pb-1">
                <div class="text-center">
                    <i class="fa fa-bell fix_icon_bell"></i>
                </div>
                <h4 class="text-datmon">Bạn Đã Đặt Món Thành Công!</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section-cart-title">
            <h2>
              Chi tiết sản phẩm
            </h2>
            <div class="line-title" style="margin-top: 2rem;"></div>
        </div>
        <div class="layout-detail-product">
            <div class="section-detail-right fix-col-detail">
                <img class="image-detail-product" src="{{ product.image }}">
            </div>
            <div class="section-detail-left fix-col-description">
                <div class="group-witdh">
                    <span class="detail-product-title">{{ product.name_product }}</span>
                    <hr>
                </div>
                <div class="group-witdh">
                    <span class="detail-product-price">{{ price | currency: "VND" }}</span>
                    <hr>
                </div>
                <div class="group-witdh">
                    <span class="detail-product-size">Chọn cỡ bánh:</span>
                    <div class="list-size">
                        <a [ngClass]="clickSize === 'M' ? 'active-size' : ''" (click)="changeSize('M')">M</a>
                        <a [ngClass]="clickSize === 'L' ? 'active-size' : ''" (click)="changeSize('L')">L</a>
                    </div>
                    <hr>
                </div>
                <div class="group-witdh">
                    <input type="button" value="-" class="qty-btn" (click)="countDown(count)">
                    <input type="text" class="quantity" name="quantity" [ngModel]="count" disabled>
                    <input type="button" value="+" class="qty-btn" (click)="countUp(count)">
                </div>
                <div class="group-witdh">
                    <div class="mr-cart" (click)="addCart()">
                        <a class="btn-add-cart">Đặt món</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="description">
            <div class="h2-description">Mô tả sản phẩm</div>
            <hr>
            <span style="font-weight: 300;">{{ product.describe }}</span>
        </div>
    </div>
</div>
