<div class="header">
    <div class="container">
        <div class="image-header">
            <a routerLink="/" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}">
                <img src="../assets/logo.png" class="logo">
            </a>
            <li>
                <a routerLink="/" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}">Trang chủ</a>
            </li>
            <li>
                <a routerLink="/detail" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}">Sản phẩm</a>
            </li>
        </div>
        <div class="cart-header">
            <li class="nav-option position-relative">
                <a class="cart-menu">
                    <i class="fa fa-shopping-cart" style="font-size:30px; cursor: pointer;"></i>
                </a>
                <a class="cart-menu-responsive" routerLink="/detail">
                    <i class="fa fa-shopping-cart" style="font-size:30px; cursor: pointer;"></i>
                </a>
                <span class="count-cart text-white">0</span>
                <div class="sub-menu animate__animated animate__zoomIn animate__faster">
                    <li><a>Giỏ Hàng</a></li>
                    <div class="group-detail-cart">
                        <div class="detail-cart">
                            <img src="../assets/img1.jpg" >
                            <div>
                                <div style="font-weight: 600;">
                                    <span>Cheese Dâu</span>
                                </div>
                                <div>
                                    <span>Size: L</span>
                                </div>
                                <span>2 x 70.000 VNĐ</span>
                            </div>
                            <span class="delete-cart">x</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center" style="margin: .5rem 1rem; padding: .5rem 1rem;">
                        <span>Tổng tiền:</span>
                        <span style="color: red; font-weight: 600;">50.000 VNĐ</span>
                    </div>
                    <div class="view-cart"><a routerLink="/detail">XEM GIỎ HÀNG</a></div>
                </div> 
            </li>
            <li class="nav-bars">
                <a data-bs-toggle="offcanvas" href="#navBars" aria-controls="navBars"><i class="fa fa-bars" style="font-size:24px"></i></a>
            </li>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="navBars" aria-labelledby="navBars">
            <div class="offcanvas-header">
                <li data-bs-dismiss="offcanvas" aria-label="Close">
                    <a routerLink="/" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}">
                        <img src="../assets/logo.png" class="logo">
                    </a>
                </li>
                <i class="fa fa-times" style="font-size:30px" data-bs-dismiss="offcanvas" aria-label="Close"></i>
            </div>
            <div class="offcanvas-body">
                <li class="li-nav" data-bs-dismiss="offcanvas" aria-label="Close">
                    <a routerLink="/" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}">Trang chủ</a>
                </li>
                <li class="li-nav" data-bs-dismiss="offcanvas" aria-label="Close">
                    <a routerLink="/detail" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}">Sản phẩm</a>
                </li>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<div class="footer">
    <div class="layout-footer container">
        <div class="gioithieu">
            <h4 class="footer-title" >Giới thiệu</h4>
            <span>Đây là tiệm bánh ngọt chuyên phục vụ khách hàng trong nội thành sài gòn.</span>
            <br>
            <div class="pt-3">
                <img style="width: 180px;" src="//theme.hstatic.net/200000232135/1000682292/14/logo_bct.png?v=274" alt="Bộ Công Thương">
            </div>
        </div>
        <div class="lienket">
            <h4 class="footer-title">Liên kết</h4>
            <li>Trang chủ</li>
            <li>Sản phẩm</li>
        </div>
        <div class="lienhe">
            <h4 class="footer-title">Thông tin liên hệ</h4>
            <li><i class="fa fa-map-marker" style="font-size: 20px;"></i> 246 Bãi Sậy, Phường 4, Quận 6, TP. Hồ Chí Minh</li>
            <li><i class="fa fa-phone" style="font-size: 20px;"></i> (+84) 906.832.471</li>
            <li><i class="fa fa-location-arrow" style="font-size: 20px;"></i> diengiaan202@gmail.com</li>
        </div>
        <div class="fanpage">
            <h4 class="footer-title">Fanpage</h4>
            <div class="fanpage-image">
                <div class="link-fanpage p-3">
                    <a href="#"><img src="../assets/logo.png" alt=""></a>
                    <a href="#" style="font-size: 1.2rem; font-weight: 600; color: #fff; padding-left: 1rem;">Nou Bakery</a>
                </div>
            </div>
        </div>
    </div>

    <div id="accordionExample" class="layout-footer-responsive container">
        <div class="gioithieu">
            <div class="group-footer" data-bs-toggle="collapse" data-bs-target="#gioithieu" aria-expanded="true" aria-controls="gioithieu">
                <h4 class="footer-title">Giới thiệu</h4>
                <i class="fa fa-plus mt-1" style="font-size:22px"></i>
            </div>
            <div id="gioithieu" class="collapse" data-bs-parent="#accordionExample">
                <div class="p-2">
                    <span>Đây là tiệm bánh ngọt chuyên phục vụ khách hàng trong nội thành sài gòn.</span>
                    <br>
                    <div class="pt-3">
                        <img style="width: 180px;" src="//theme.hstatic.net/200000232135/1000682292/14/logo_bct.png?v=274" alt="Bộ Công Thương">
                    </div>
                </div>
            </div>
        </div>
        <div class="lienket pt-3">
            <div class="group-footer" data-bs-toggle="collapse" data-bs-target="#lienket" aria-expanded="true" aria-controls="lienket">
                <h4 class="footer-title">Liên kết</h4>
                <i class="fa fa-plus mt-1" style="font-size:22px"></i>
            </div>
            <div id="lienket" class="collapse" data-bs-parent="#accordionExample">
                <div class="p-2">
                    <li>Trang chủ</li>
                    <li>Sản phẩm</li>
                </div>
            </div>
        </div>
        <div class="lienhe pt-3">
            <div class="group-footer" data-bs-toggle="collapse" data-bs-target="#lienhe" aria-expanded="true" aria-controls="lienhe">
                <h4 class="footer-title">Thông tin liên hệ</h4>
                <i class="fa fa-plus mt-1" style="font-size:22px"></i>
            </div>
            <div id="lienhe" class="collapse" data-bs-parent="#accordionExample">
                <div class="p-2">
                    <li><i class="fa fa-map-marker" style="font-size: 20px;"></i> 246 Bãi Sậy, Phường 4, Quận 6, TP. Hồ Chí Minh                </li>
                    <li><i class="fa fa-phone" style="font-size: 20px;"></i> (+84) 906.832.471</li>
                    <li><i class="fa fa-location-arrow" style="font-size: 20px;"></i> diengiaan202@gmail.com</li>
                </div>
            </div>
        </div>
        <div class="fanpage pt-3">
            <div class="group-footer" data-bs-toggle="collapse" data-bs-target="#fanpage" aria-expanded="true" aria-controls="fanpage">
                <h4 class="footer-title">Fanpage</h4>
                <i class="fa fa-plus mt-1" style="font-size:22px"></i>
            </div>
            <div id="fanpage" class="collapse" data-bs-parent="#accordionExample">
                <div class="fanpage-image">
                    <div class="link-fanpage p-3">
                        <a href="#"><img src="../assets/logo.png" alt=""></a>
                        <a href="#" style="font-size: 1.2rem; font-weight: 600; color: #fff; padding-left: 1rem;">Nou Bakery</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <a href="https://www.facebook.com/KimTien.9920/" target="_blank">Copyright © 2021 Nou Bakery. Powered by Nguyễn Kim Tiền</a>
</div>