
.section-carts{
    padding-top: 5rem;
}

.group-carts{
    display: grid;
    grid-template-columns: 1.3fr .7fr;
    padding: 2rem 0 4rem 0;
}

.pd-cart{
    padding-left: 1.5rem;
    padding-top: .2rem;
}

.content{
    width: 100%;
    padding: 1rem;
    border: 1px solid #e6e6e6;
}

.image-cart{
    width: 120px;
    height: 120px;
}

.section-cart-title{
    padding: 3rem 0rem;
    text-align: center;
}

.section-cart-title h2{
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.section-cart-title span{
    font-weight: 300;
}

.line-title{
    margin: 0 auto;
    width: 80px;
    height: 5px;
    background-color: #000;
}

.group-carts-left{
    display: grid;
    grid-template-columns: .3fr 1.7fr;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e4e4e4;
}

.detail-cart-title{
    font-size: 1.3rem;
}

.detail-cart-size{
    font-size: 1rem;
}

.detail-cart-price{
    font-size: 1.2rem;
    color: #ec0f0f;
}

.line-cart-check{
    height: .8px;
    background-color: #cacaca;
}

.btn-dathang{
    font-size: 1.1rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
}

.fix-dathang{
    text-align: center; 
    background-color: #ffba4b;
    margin-top: 1rem;
    padding: .7rem .8rem;
}

.title-dathang{
    font-size: 1.4rem;
    font-family: 'Maven Pro', sans-serif;
}

.layout-flex-block{
    display: flex;
    justify-content: space-between;
}

.pd-cart-left{
    padding: 0 2rem;
}

@media only screen and (max-width: 600px) {

    .group-carts{
        grid-template-columns: 1fr;
        padding: 1rem 0 4rem 0;
    }

    .layout-flex-block{
        display: block;
    }

    .pd-cart-left{
        padding: 1rem 1rem;
    }

    .content{
        width: 92%;
        margin: auto;
    }

}