.slick-slider {
    width: 80%;
    margin: auto;
    background: transparent;
}
    

li{
    list-style: none;
}

.margin-auto{
    margin: 0 auto;
}

.slider-home{
    padding-top: 5rem;
}

.layout-section-gioithieu{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.section-gioithieu{
    padding: 6rem 3rem;
    background-color: #F7F7F7;
}

.img-slider-home{
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center;
    width: 100%;
    height: 600px;
}

.section-gioithieu-right{
    margin: 0 auto;
}

.section-gioithieu-right img{
    width: 350px;
    height: 100%;
}

.section-gioithieu-left{
    padding: 2rem;
}

.section-gioithieu-left h2{
    font-family: 'Lobster', cursive;
}

.list-icon-gioithieu{
    display: flex;
}

.list-icon-gioithieu li{
    padding: 1rem 0;
}

.margin-left-2{
    margin-left: 2rem;
}

.icon-section-gioithieu{
    padding: 1.5rem 1.5rem;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 54px;
}

.icon-section-gioithieu:hover{
    background-color: #FEC524;
    border: 2px solid #FEC524;
    color: #fff;
    transition: .5s all ease-in-out;
}

.dathang-gioithieu{
    text-decoration: none;
    color: #000;
    background-color: #FEC524;
    padding: .8rem 2.5rem;
    border-radius: 1.5rem;
    font-weight: 300;
    cursor: pointer;
}

.dathang-gioithieu:hover{
    color: #fff;
    transition: .5s all ease-in-out;
}

.set-width{
    width: 70%;
}

.image-bonus{
    width: 570px;
    height: 310px;
}

.layout-section-bonus{
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.fix-colum-bonus{
    margin: 0 auto;
}

.border-bonus{
    border: 10px solid #FEC524;
    overflow: hidden;
}

.border-bonus:hover .image-bonus{
    transform: scale(1.2);
    transition: 1s all ease-in-out;
    filter: blur(.02rem);
}

.section-menu{
    background: url(//theme.hstatic.net/200000232135/1000682292/14/bg_collection_home_1.jpg?v=273);
    padding: 80px 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-title{
    font-family: 'Lobster', cursive;
    text-align: center;
}

.mr-pd-menu{
    margin: 2rem 0;
}

.menu-product-image{
    width: 100%;
    height: 100%;
}

.group-slider-product{
    margin: 0 1rem;
    background-color: #fff;
}

.menu-product{
    padding: 2rem 2rem;
    border-radius: 2px;
    border-bottom: 1px solid #ececec;
}

.product-box{
    font-size: 1.2rem;
    padding: .7rem 1rem;
    /* display: flex;
    justify-content: space-between; */
}

.pb-price{
    color: red;
}

.pb-title{
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: .1rem;
    text-align: center;
}

.section-lydo{
    padding: 80px 0;
    background-color: #fdfdfd;
}

.group-lydo{
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.col-lydo{
    margin: 0 auto;
    text-align: center;
}

.image-lydo{
    width: 70px;
    height: 70px;
}

.support-text h6{
    margin-top: 2rem;
    font-family: 'Lobster', cursive;
    font-size: 1.4rem;
}

.support-text span{
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-weight: 300;
}

@media only screen and (max-width: 600px) {
    .img-slider-home{
        height: 100%;
    }

    .layout-section-gioithieu{
        grid-template-columns: auto;
    }

    .layout-section-gioithieu{
        display: grid;
        grid-template-columns: 1fr;
    }

    .section-gioithieu{
        padding: 3rem 1rem;
    }

    .section-gioithieu-right{
        display: none;
    }

    .section-gioithieu-left{
        padding: 0rem;
    }

    .margin-left-2{
        margin-left: 1rem;
    }

    .icon-section-gioithieu{
        font-size: 40px;
    }

    .set-width{
        width: 100%;
    }

    .layout-section-bonus{
        padding: 3rem 2rem;
        grid-template-columns: 1fr;
    }

    .image-bonus{
        width: 100%;
        height: 100%;
    }

    .section-bonus-left{
        margin-top: 1rem
    }

    .section-menu{
        padding: 50px 0;
    }

    .menu-title h2{
        font-size: 1.7rem;
    }

    .group-slider-product{
        margin: 0 0 !important;
    }

    .group-lydo{
        grid-template-columns: 1fr;
    }

    .col-lydo{
        margin: 1rem auto;
    }

}